<ion-header>
  <ion-navbar>
    <ion-title>
      Lịch
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item (click)="XoaAll()">Xóa All</ion-item>
  <ion-list>
    <ion-item *ngFor="let item of Lich" (press)="showSheet(item.id)">
      
      <!--<ion-checkbox *ngIf="item.TrangThai==0" checked="false" #check (click)="nhaynhay(item.id,check.checked)"></ion-checkbox>
      <ion-checkbox *ngIf="item.TrangThai==1" checked="true" #check (click)="nhaynhay(item.id,check.checked)"></ion-checkbox>-->     
      <p class="p-item" item-left>
        Nội Dung: {{item.NoiDung}} <br /> Ngày: {{item.Ngay}}
        <br /> Thời gian: {{item.ThoiGian}}
      </p>
      <!--<ion-checkbox *ngIf="!KiemTraTT(item.id)" checked="false" #check (click)="nhaynhay(item.id,check.checked)"></ion-checkbox>-->

    </ion-item>
  </ion-list>

</ion-content>